@{
    ViewBag.Title = "Index";
}

<div>
    @Html.ActionLink("Customer Details", "Details")
</div>
<div>
    @Html.ActionLink("Billing Address", "Addresses")
</div>
<div>
    @Html.ActionLink("Orders", "Orders")
</div>
<div>
    @Html.ActionLink("Payment Options", "PaymentOptions")
</div>
